/* 초기화 코드 */
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6, p, b {
	margin: 0;
	padding: 0;
	border: 0;
}
a {text-decoration: none; outline: none; color: inherit;cursor: pointer;}
a:hover, a:active {text-decoration: none; color: inherit;}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
button {
	background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
}

/* ! my-style */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --brand-color: #3AB170;
    --background-color: #F8F8F8;
    --light-background-color: #EBF8F0;
    --color-lightgreen: #E1FBEC;
    --color-darkgreen: #1F613D;
    --color-white: #FFFFFF;
    --color-linegray: #E8E8E8;
    --color-title-linegray: #E5E5E5;
    --color-lightgray: #ccc;
    --color-gray5: #555;
    --color-gray6: #666;
    --color-gray8: #888;
    --color-darkgray: #0C2004;
    --color-black: #222;
    --accent-color: #EB2A2A;
    /* TODO 사용법 >>> color: var(--brand-color); */
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1;
	font-size: 13px;
	color: #555;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    background: #f8f8f8;
}

h1 {
    color: #222;
    margin-bottom: 16px;
    font-size: 24px;
}

h2 {
    color: #222;
    margin-bottom: 12px;
    font-size: 18px;
}


textarea::placeholder, input::placeholder {
    color: #ccc;
}

input:autofill {
  box-shadow: 0 0 0px 1000px var(--light-background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
  }

  .custom-checkbox p {margin-left: 28px;}
  
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 100px;
  }
  
  input[type='checkbox']:checked ~ .checkmark {
    background-color: var(--brand-color);
  }
  
  input[type='checkbox']:checked ~ .checkmark:after {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%, -100%);
    top: 64%;
    left: 10%;
  }